<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <button (click)="print();" style="width: 100%; font-size: 24px;">Print</button>

    <div >
          {{value}}
    </div>
    <button type="button" mat-button color="primary" (click)="printDocument()">Print 2</button>
  </div>
</ion-content>
